<!DOCTYPE html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎使用 quartz</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/css/layui.css}">
</head>
<body>

<div class="layui-container">

    <ul class="layui-nav" id="layui-nav" lay-filter="layui-nav-filter">
        <li class="layui-nav-item"><a th:href="@{#/home}">首页</a></li>
        <li class="layui-nav-item"><a th:href="@{#/qrtz-blob-triggers}">blob触发器</a></li>
        <li class="layui-nav-item"><a th:href="@{#/qrtz-calendars}">日历</a></li>
        <li class="layui-nav-item"><a th:href="@{#/qrtz-cron-triggers}">cron触发器</a></li>
        <li class="layui-nav-item"><a th:href="@{#/qrtz-fired-triggers}">fired-triggers</a></li>
        <li class="layui-nav-item"><a th:href="@{#/qrtz-job-details}">qrtz-job-details</a></li>
        <li class="layui-nav-item"><a th:href="@{#/qrtz-locks}">定时器锁</a></li>
        <li class="layui-nav-item"><a th:href="@{#/qrtz-paused-trigger-grps}">qrtz-paused-trigger-grps</a></li>
        <li class="layui-nav-item"><a th:href="@{#/qrtz-scheduler-state}">定时器状态</a></li>
        <li class="layui-nav-item"><a th:href="@{#/qrtz-simple-triggers}">qrtz-simple-triggers</a></li>
        <li class="layui-nav-item"><a th:href="@{#/qrtz-simprop-triggers}">qrtz-simprop-triggers</a></li>
        <li class="layui-nav-item"><a th:href="@{#/qrtz-triggers}">触发器</a></li>
    </ul>

    <div id="LAY_APP"></div>

</div>

<script type="text/javascript" th:src="@{/layui.js}"></script>

<script th:inline="javascript" type="text/javascript">
    layui.config({
        base: 'js',
        version: '0.0.1'
    }).extend({
        index: '/index'
    }).use(['element', 'table', 'index', 'layer'], function () {
        const $ = layui.$,
            $body = $('body'),
            element = layui.element,
            table = layui.table,
            index = layui.index,
            layer = layui.layer;

        // 监听导航点击
        element.on('nav(layui-nav-filter)', function (elem) {
            // console.log(elem)
            // layer.msg(elem.text());

            // 导航栏点击时
            // 由于执行顺序的原因，使用强制 hash
            index.showNav("#LAY_APP", null, null, null, null, elem.context.hash.slice(1));

        });

        let currentHash = window.location.hash.slice(1) || '/home'; // 文档就绪后获取 当前 hash
        currentHash = currentHash === '/' ? '/home' : currentHash; // 不使用主页
        // 文档就绪后设置 默认 hash
        // 文档就绪后设置 要移除 this 的 hash 对应的 nav
        // 文档就绪后设置 要添加 this 的 hash 对应的 nav
        // 文档就绪后设置 要添加 this 的 class
        index.showNav("#LAY_APP", '/home', '#layui-nav .layui-nav-item', $("a[href='#" + currentHash + "']")[0].parentNode, 'layui-this');

        index.hello();

    });
</script>

</body>
</html>