<!DOCTYPE html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎使用 quartz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui-v2.5.6/css/layui.css}">

</head>
<body>

<div id="LAY_APP"></div>

<script type="text/javascript" th:src="@{/layui-v2.5.6/layui.js}"></script>

<script th:inline="javascript" type="text/javascript">
    layui.config({
        base: 'js',
        version: '0.0.1'
    }).extend({
        index: '/index'
    }).use(['layer', 'index'], function () {
        const $ = layui.$,
            $body = $('body'),
            index = layui.index,
            layer = layui.layer;

        let layApp = document.getElementById("LAY_APP");


        index.hello()

    });
</script>

</body>
</html>