<!DOCTYPE html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎使用 quartz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui-v2.5.6/css/layui.css}">

</head>
<body>

<script type="text/javascript" th:src="@{/layui-v2.5.6/layui.js}"></script>

<script th:inline="javascript" type="text/javascript">
    layui.use(['layer', 'form'], function () {
        const $ = layui.$,
            $body = $('body'),
            layer = layui.layer;

        layer.msg('Hello，欢迎使用 quartz !');
    });
</script>

</body>
</html>