<!DOCTYPE html>
<html lang="zh" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>blob触发器</title>
</head>
<body>

<table class="layui-hide" id="qrtz-blob-triggers-table" lay-filter="qrtz-blob-triggers-table-filter"></table>

<script th:inline="javascript" type="text/javascript">
    layui.config({
        base: 'js',
        version: '0.0.1'
    }).use(['table', 'layer'], function () {
        const $ = layui.$,
            $body = $('body'),
            table = layui.table,
            layer = layui.layer;

        table.render({
            elem: '#qrtz-blob-triggers-table', // String/DOM	指定原始 table 容器的选择器或 DOM，方法渲染方式必填	"#demo"
            url: '/qrtz-blob-triggers/page', // 异步数据接口相关参数。其中 url 参数为必填项 https://www.layui.com/doc/modules/table.html#async
            page: true, // 开启分页
            cols: [ // Array	设置表头。值是一个二维数组。方法渲染方式必填 https://www.layui.com/doc/modules/table.html#cols
                [
                    {type: 'checkbox', title: 'ID'},
                    {field: 'schedName', width: 135, title: 'schedName', sort: true},
                    {field: 'lockName', width: 160, title: 'lockName', sort: true},
                ]
            ],
            request: { // 用于对分页请求的参数：page、limit重新设定名称 https://www.layui.com/doc/modules/table.html#async
                pageName: 'current', // 页码的参数名称，默认：page
                limitName: 'size' // 每页数据量的参数名，默认：limit
            },
            parseData: function (res) { // res 即为原始返回的数据 数据格式解析的回调函数，用于将返回的任意数据格式解析成 table 组件规定的数据格式。 https://www.layui.com/doc/modules/table.html#async
                return {
                    "code": res.code, // 解析接口状态
                    "msg": res.msg, // 解析提示文本
                    "data": res.data.page.records, // 解析数据列表
                    "count": res.data.page.total // 解析数据长度
                };
            }
        });

        // 监听单元格编辑
        table.on('edit(qrtz-blob-triggers-table-filter)', function (obj) {
            const value = obj.value, // 得到修改后的值
                data = obj.data,  // 得到所在行所有键值
                field = obj.field; // 得到字段
            console.log(value);
            console.log(data);
            console.log(field);
        });

    })
</script>

</body>
</html>
